openapi: 3.2.0
info:
  title: Biodock Public Pipelines API
  description: Biodock's public REST API lets users invoke actions on the Biodock platform through simple web requests, so an AI microscopy image analysis built on Biodock can be integrated into scripts and programs.
  version: 1.0.0-beta
  contact:
    name: Biodock Support
    url: https://docs.biodock.ai/company/contact-us
    email: security@biodock.ai
  termsOfService: https://www.biodock.ai/termsprivacy
servers:
- url: https://app.biodock.ai/api/external
  description: Biodock public API (production)
security:
- ApiKeyAuth: []
tags:
- name: Pipelines
  description: Listing published analysis pipelines
paths:
  /pipelines:
    get:
      operationId: listPipelines
      summary: List pipelines
      description: List your active, published analysis pipelines.
      tags:
      - Pipelines
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/StartingAfter'
      responses:
        '200':
          description: A page of pipelines.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineList'
components:
  schemas:
    Pipeline:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
    PipelineList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Pipeline'
        count:
          type: integer
  parameters:
    StartingAfter:
      name: startingAfter
      in: query
      schema:
        type: string
      description: Pagination cursor id (id of the last item on the previous page).
    Limit:
      name: limit
      in: query
      schema:
        type: integer
      description: Maximum number of results to show.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key generated at https://app.biodock.ai/settings/api
